.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  @media only screen and (max-width: 375px) {
    padding: 16px 8px;
    display: flex;
    flex-direction: column;
  }

  &__input {
    padding: 16px 200px 16px 16px;
    border-radius: 8px;
    margin-top: 5px;

    @media only screen and (max-width: 375px) {
      padding: 16px 150px 16px 12px;
      max-width: 323px;
    }
  }

  &__info {
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4000000059604645px;
    color: rgba(53, 54, 64, 0.75);
  }

  &__btn {
    color: rgba(53, 54, 64, 0.4);
    background: rgba(53, 54, 64, 0.2);
    border: none;
    min-width: 300px;

    &:hover {
      background: rgba(255, 255, 255, 1);
    }

    @media only screen and (max-width: 375px) {
      margin-top: 32px;
      margin-left: auto;
    }
  }

  &__second-btn {
    display: flex;
    justify-content: center;
    border: none;
    min-width: 300px;
  }
}
