.table {
    &__heading {
        font-size: 34px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0.25px;
        padding: 20px 0px;
    }

    &__box {
        padding: 0px 24px 16px 24px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

        @media only screen and (max-width: 375px) {
            padding: 0px 8px 16px;
        }
    }

    &__heads {
        display: flex;
        align-items: center;
    }

    &__head {
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.15000000596046448px;
        padding: 16px 150px 16px 16px;

        @media only screen and (max-width: 375px) {
            padding: 16px 10px 16px 8px;
        }

    }

    &__user {
        border-top: 1px solid rgba(0, 0, 0, 0.527);
        border-bottom: 1px solid rgba(0, 0, 0, 0.527);
        display: flex;
        align-items: center;
    }

    &__user-number {
        padding: 16px 235px 16px 16px;

        @media only screen and (max-width: 375px) {
            padding: 16px 95px 16px 8px;
        }
    }

    &__user-name {
        padding: 16px 143px 16px 16px;

        @media only screen and (max-width: 375px) {
            padding: 16px 6px;
        }
    }

    &__user-time {
        padding: 16px 211px 16px 16px;

        @media only screen and (max-width: 375px) {
            padding: 16px 6px;
        }
    }

    &__btn {
        display: flex;
        justify-content: right;
        margin-top: 16px;
        border: none;
        margin-left: auto;
    }
}